<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org //DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chl.mapper.RoleMapper">

    <resultMap id="roleMap" type="com.chl.entity.SysRole">
        <result property="id" column="id"/>
        <result property="roleName" column="role_name" />
        <result property="enabled" column="enabled" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" jdbcType= "TIMESTAMP"/>
    </resultMap>

    <resultMap id="rolePrivilegeListMap" extends="roleMap" type="com.chl.entity.SysRole">
        <collection property="privilegeList" columnPrefix="privilege_"
                    resultMap="com.chl.mapper.PrivilegMapper.privilegeMap"/>
    </resultMap>

    <select id="selectRoleById" resultMap="roleMap">
      select * from sys_role where id = #{id}
    </select >

    <select id="selectRolesByUserid" resultType="com.chl.entity.SysRole">
        select r.id ,r.role_name roleName,r.enabled,
        r.create_by createBy,r.create_time createTime
        from sys_user u
        inner join sys_user_role ur on u.id = ur.user_id
        inner join sys_role r on ur.role_id = r.id
        where u.id = #{userId}
    </select>
    <select id="selectRolesByUserIdAndRoleEnabled" resultType="com.chl.entity.SysRole">
        select r.id ,r.role_name roleName,r.enabled,
        r.create_by createBy,r.create_time createTime
        from sys_user u
        inner join sys_user_role ur on u.id = ur.user_id
        inner join sys_role r on ur.role_id = r.id
        where u.id = #{userId} and r.enabled = #{enabled}
    </select>
</mapper>